(tls) {
  tls nelhage@nelhage.com
  tls {
    dns googlecloud
#    ca https://acme-staging-v02.api.letsencrypt.org/directory
  }
  header / {
    Strict-Transport-Security "max-age=31557600"
    Expect-CT "enforce, max-age=31536000"
  }
}

(base) {
  import tls
  log stdout
}

(livegrep) {
  import base
  log stdout
  proxy / http://livegrep-nginx:80 {
    transparent
  }
}

beta.livegrep.com {
  import livegrep
}

livegrep.com {
  import livegrep
}

www.livegrep.com {
  import base
  redir https://livegrep.com/
}

crossme.app {
  import tls
  proxy / http://crossme:3000 {
    transparent
  }
  log stdout {
    except /sockjs/
  }
}

www.crossme.app {
  import base
  redir https://crossme.app/
}

asciisnowmanforyou.com {
  import base
  proxy / http://asciisnowmanforyou {
    transparent
  }
}

www.asciisnowmanforyou.com {
  import base
  redir https://asciisnowmanforyou.com/
}
